body {
  height: 1000px;
  background-image: url("11188809886_621d20537d_b.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FEFFF1;
}
.letter {
 height: 700px;
 width: 500px;
 background-color: #FEFFF1;
 margin:auto;
 opacity: 0.75;
 padding: 71px;
 margin-top: 37px;
}

p {
  font-family: 'Marck Script', cursive;
  font-size: 22px;
}
