body {
  background-image: url("escheresque_ste.png");
}

.door {
  margin: 10px;
  padding: 5px;
}

.knob {
  border-radius: 50%;
  background-color: yellow;
  height:15px;
  width:15px;
}

.one {
  background-color: #7B4A12;
  height: 200px;
  width: 150px;
  float: right;
}
.first {
  margin-top:95px;
  float: right;
}

.two {
  background-color: #BA6222;
  height: 100px;
  width: 100px;
}
.second {
  margin-top: 40px;
}

.three {
  height: 300px;
  width: 175px;
  background-color: #7B4A12;
}
.third {
  margin-top: 130px;
  float: right;
}

.four {
  height: 200px;
  width: 150px;
  background-color: #E49135;
}
.fourth {
  margin-top:85px;
}

.five {
  background-color: #E49135;
  height: 350px;
  width: 100px;
  float:right;
}
.fifth {
  margin-top: 160px;
  float:right;
}

.six {
  height: 300px;
  width: 150px;
  float: right;
  background-color: #7B4A12;
}
.sixth {
  margin-top: 140px;
}

.seven {
  background-color: #738F9B;
  height: 200px;
  width: 100px;
  float:right;
}
.seventh {
  margin-top: 90px;
  float:right;
}

.eight {
  background-color: #BA6222;
  height: 325px;
  width: 150px;
}
.eighth {
  margin-top: 155px;
}
