body {
  background-image: url("escheresque_ste.png");
}

.door {
  margin: 10px;
  padding: 5px;
}

.knob {
  border-radius: 50%;
  background-color: yellow;
  border-bottom: 4px solid orange;
  height:15px;
  width:15px;
}

.one {
  background-color: #7B4A12;
  height: 200px;
  width: 150px;
  float: right;
  border-left: 10px solid #302402;
  border-bottom: 10px solid #302402;
  border-right: 10px solid #a07406;
  border-top: 10px solid #a07406;
  box-shadow: 7px 6px 7px 0px  rgba(105,102,105,1);
}
.first {
  margin-top:95px;
  float: right;
}

.two {
  background-color: #BA6222;
  height: 100px;
  width: 100px;
  border-left: 10px solid #723109;
  border-bottom: 10px solid #723109;
  border-right: 10px solid #f29860;
  border-top: 10px solid #f29860;
  box-shadow: -6px 7px 7px 0px rgba(105,102,105,1);
}
.second {
  margin-top: 40px;
}

.three {
  height: 300px;
  width: 175px;
  background-color: #7B4A12;
  border-left: 10px solid #302402;
  border-bottom: 10px solid #302402;
  border-right: 10px solid #a07406;
  border-top: 10px solid #a07406;
  box-shadow: 7px 6px 7px 0px  rgba(105,102,105,1);
}
.third {
  margin-top: 130px;
  float: right;
}

.four {
  height: 200px;
  width: 150px;
  background-color: #E49135;
  border-left: 10px solid #634a09;
  border-bottom: 10px solid #634a09;
  border-right: 10px solid #ffd987;
  border-top: 10px solid #ffd987;
  box-shadow: -6px 7px 7px 0px rgba(105,102,105,1);
}
.fourth {
  margin-top:85px;
}

.five {
  background-color: #E49135;
  height: 350px;
  width: 100px;
  float:right;
  border-left: 10px solid #634a09;
  border-bottom: 10px solid #634a09;
  border-right: 10px solid #ffd987;
  border-top: 10px solid #ffd987;
  box-shadow: 7px 6px 7px 0px  rgba(105,102,105,1);
}
.fifth {
  margin-top: 160px;
  float:right;
}

.six {
  height: 300px;
  width: 150px;
  float: right;
  background-color: #7B4A12;
  border-left: 10px solid #302402;
  border-bottom: 10px solid #302402;
  border-right: 10px solid #a07406;
  border-top: 10px solid #a07406;
  box-shadow: -6px 7px 7px 0px rgba(105,102,105,1);
}
.sixth {
  margin-top: 140px;
}

.seven {
  background-color: #738F9B;
  height: 200px;
  width: 100px;
  float:right;
  border-left: 10px solid #0665a0;
  border-bottom: 10px solid #0665a0;
  border-right: 10px solid #a4e1f9;
  border-top: 10px solid #a4e1f9;
  box-shadow: 7px 6px 7px 0px  rgba(105,102,105,1);
}
.seventh {
  margin-top: 90px;
  float:right;
}

.eight {
  background-color: #BA6222;
  height: 325px;
  width: 150px;
  border-left: 10px solid #723109;
  border-bottom: 10px solid #723109;
  border-right: 10px solid #f29860;
  border-top: 10px solid #f29860;
  box-shadow: -6px 7px 7px 0px rgba(105,102,105,1);
}
.eighth {
  margin-top: 155px;
}
