body {
  background-image: url("escheresque_ste.png");
}

.door1 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door2 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door3 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door4 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door5 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door6 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door7 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door8 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door9 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door10 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door11 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door12 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door13 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door14 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door15 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
.door16 {
  height:40px;
  width:50px;
  background-color: brown;
  margin: 20px;
}
