

body {
  height: 1000px;
  background-image: url("11235131183_8f4276d060_b.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #F2ECD1;
}

.knocker {
  float: right;
  border-radius: 50%;
  background-color: white;
  height: 453px;
  width: 212px;
  background-position: bottom;
  background-image: url('11217661554_d4b41746cb.jpg');
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-right: 147px;
}
