body {
  background-image: url("escheresque_ste.png");
}

.ghost {
  border: 5px;
  border-style: solid;
  border-color: #FBFAE6;
  border-radius: 50%;
  height: 428px;
  width: 536px;
  background-image: url("11288342523_33d4c5d3c2_z.jpg");
  background-position: bottom;
  margin-top: 100px;
  margin-left: 100px;
  display:inline-block;
}

h1 {
  float: right;
  margin-top: 338px;
  margin-right: -421px;
  font-family: 'Fredericka the Great';
  font-size: 80px;
  color: #FBFAE6;
}

h3 {
  float: right;
  margin-top: 125px;
  margin-right: 104px;
  font-family: 'Marck Script';
  font-size: 35px;
  color: #FBFAE6;
}
